<!DOCTYPE html>
<html>
    <head>
        <title>{%if title%}{{title}} - {%endif%}Thoughtweaver</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/materialdesignicons.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/app.css')}}">
    </head>
    <body>
        <nav class="site-header sticky-top py-1">
                <div class="container d-flex flex-column flex-md-row justify-content-between">
                    <a class="py-2" href="#">
                    <svg style="width:24px;height:24px" width="24" height="24" focusable="false" viewBox="0 0 24 24" fill="currentColor" >
                            <path d="M12,5C12.74,5 13.47,5.1 14.15,5.29L15.78,2.46C16.06,2 16.67,1.82 17.15,2.1C17.63,2.37 17.79,3 17.5,3.46L16,6.07C17.22,6.78 18.23,7.79 18.93,9H5.07C5.77,7.79 6.78,6.78 8,6.07L6.5,3.46C6.21,3 6.37,2.37 6.85,2.1C7.33,1.82 7.94,2 8.22,2.46L9.85,5.29C10.53,5.1 11.26,5 12,5M20,13C20,17.17 16.82,20.59 12.75,20.97V10.5H19.6C19.86,11.29 20,12.13 20,13M4,13C4,12.13 4.14,11.29 4.4,10.5H11.25V20.97C7.18,20.59 4,17.17 4,13Z" />
                        </svg>
                    </a>
                    <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
                    <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
                    <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
                    <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
                    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
                    <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
                    <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
                </div>
                </nav>
        <main>
            <div class="container">
            {% block body %}
            <div class="jumbotron mt-3">
                    <h1>Thoughtstream Layout Base</h1>
                    <p class="lead">You should never see this; it's the base template for Thoughtweaver.</p>
                    <a class="btn btn-lg btn-primary" role="button" href="/">Go home, here's not safe.</a>
                  </div>
            {% endblock %}
        </div>
    </main>
    <footer>
        Thoughtweaver...
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
    </body>
</html>